{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in%}
    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-left">
        <!-- sidebar -->
        <div class="col-xs-6 col-sm-3" id="sidebar">
            <ul class="nav">
              <a id="My lists" name="My Lists" href="#subItems" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">My Lists<i class="fa fa-caret-down"></i></a>
                <div  class="collapse" id="subItems">
                     {% for watchlist in watchlists %}
                          <a id=delete_{{watchlist.watchlist_id}}_{{watchlist.currency2}}  action="{{ url_for('delete') }}" method=GET  href="{{ url_for('delete') }}?name={{ watchlist.watchlist_id}} {{watchlist.currency2}}" class="list-group-item"style="font-size:20px;text-align:left;" >{{ watchlist.watchlist_id}}   {{watchlist.currency2}}</a>
                     {%endfor%}
                  </div>
                <a id="add" name="add" href="{{ url_for('add_watchlist') }}" class="list-group-item" style="font-size:28px;text-align:center;">+</a>
            </ul>
        </div>

          <div class="col-xs-9 col-sm-9" style="position:relative">
             <h1>My Lists</h1>
                <table class="table table-bordered mylists">
                    <thead>
                      <tr>
                        <th style="width: 5%">Cryptocurrency</th>
                        <th style="width: 5%">Currency</th>
                          <th style="width: 5%">Value</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for watchlist in watchlists%}
                        <tr class="list1">
                          <td>{{ watchlist.watchlist_id}}</td>
                          <td>{{ watchlist.currency2}}</td>
                            <td>{{ watchlist.value}}</td>
                        </tr>
                  {% endfor %}
                  </tbody>

                </table>
          </div>
      </div>
    </div>
    {%  endif %}
{% endblock %}


